.hero {
  background: $background-color;
  height: $hundred-vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-grey;
  //   text-align: center;
  font-weight: 400;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #fff;
      color: #333;
    }
  }
}
