// ***** About Me Section Styles *****

.hero {
  background: $background-color;
  height: $hundred-vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-grey;
  font-weight: 400;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  .text-color-main {
    color: $primary-color;
  }

  h1 {
    font-size: $big-font-size;
    margin-bottom: 1rem;
  }
  p {
    font-size: $default-font-size;
    color: $dark-grey;
    width: 40%;
    margin-bottom: 2rem;
  }
}
