// ***** BUTTON STYLE COMPONENT *****
.btn {
  font-size: $default-font-size;
  background-color: transparent;
  padding: 1.25rem 1.75rem;
  border: 1px solid $primary-color;
  border-radius: $border-raduis;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $primary-color;
  transition: all .3s ease 0s;
  transform: translateX(0px);
  &:hover {
    background: $primary-color;
    color: $background-color;
    border: 1px solid $primary-color;
    transition: all .3s ease 0s;
    transform: translateX(-2px);
  }
  // &:hover {
  //   background: $dark-grey;
  //   color: $background-color;
  //   border: 1px solid $dark-grey;
  //   transform: translateX(-2px); 
  // }
}
