// ***** VARIABLES FOR THE PORTFOLIO PROJECT by @arthurbazz *****

// COLORS
$primary-color: #58e0c3;
// $secondary-color: #f2f2f2;
$background-color: #0a192f;
$white-color: #fff;

$dark-grey: #65708c; //for text
$light-grey: #ccd6f6; //for headings

// FONTS
$primary-font: "Roboto", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$default-font-size: 1.2rem;
$mid-font-size: 2rem;
$big-font-size: 3rem;

// HEIGHTS
$navbar-height: 10rem;
$hundred-vh: 100vh;

// BUTTONS
$border-raduis: 4px;
