// ***** Header Styles *****

.header {
  // background: $background-color;
  // height: $hundred-vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-grey;
  font-weight: 400;
  padding: 0rem 5.6rem;
  // margin-bottom: 0;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // z-index: -1;
  // position: fixed;
  width: 100%;
}
