// ***** Hero Section Styles *****

.hero {
  background: $background-color;
  height: $hundred-vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-grey;
  font-weight: 400;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  .text-color-main {
    color: $primary-color;
  }

  // ***** Hero Section wave emoji *****
  .wave-emoji {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 150% 150%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  h1 {
    font-size: $big-font-size;
    margin-bottom: 1rem;
  }
  p {
    font-size: $default-font-size;
    color: $dark-grey;
    width: 40%;
    margin-bottom: 2rem;
  }
}

.slide-in {
  animation: slide-in 0.4s forwards;
  transform: translateY(-100%);
}

// ***** slide in animation Keyframes *****
@keyframes slide-in {
  to {
    transform: translateY(0);
  }
}

// ***** wave animation Keyframes *****
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
