// ***** Products Section Styles *****
.projects {
  background: $background-color;
  height: $hundred-vh;
  color: $light-grey;
  font-weight: 400;
  padding: 2rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // z-index: -1;

  .text-color-main {
    color: $primary-color;
  }

  .projects-title {
    font-size: $big-font-size;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: $default-font-size;
    color: $dark-grey;
    margin-bottom: 2rem;
    width: 40%;
  }
}
