/*===== GOOGLE FONTS ======*/
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Joan&family=Viaoda+Libre&display=swap');

/*===== CSS RESET =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*===== CSS VARIABLES =====*/
:root{
    --font: 20px;
    --content-margin: 8rem auto 0;
    --content-margin-mobile: 18rem auto 0;
    --border-radius: 7px;
    --nav-padding: 10px 20px; 
    --nav-position: fixed;
    --nav-top: 0;
    --nav-width: 100%;
    --nav-link-color: rgb(226, 218, 218);
    --flex-display: flex;
    --flex-wrap: wrap;
    --justify-content: center;
    --align-items: center;
    --cursor: pointer;
    --toggle-btn-display: block;
    --article-padding: 5px 20px;
    --article-line-height: 2em;
    --article-margin: 20px 0;
    --btn-border: 1px solid rgb(205, 154, 253, 0.6);
    --btn-background: steelblue;
    --intro-color: rgb(230, 141, 59);
    --form-background: rgb(218, 218, 252);
    --form-margin: 0 auto;
    --form-group-margin: 20px auto;
    --form-text-color: rgb(53, 58, 75);
    --form-padding: 8px 12px;
    --font-size: 1.5em;
    --font-size-medium: 1.2em;
    --font-family-heading:  'Viaoda Libre', cursive;
    --font-family-intro: 'Federo', sans-serif;
    --font-family-body: 'Joan', serif;

}

.body-container {
    /* background: linear-gradient(
        to right, 
        #EBF0F4,
        #EBF0F4 70%,
        #99FFFF,
        #99FFFF 100%
    );   */
    background-color: #EBF0F4 ;
}


/*===== NAV =====*/
.nav-parent {
    position: var(--nav-position);
    top: var(--nav-top);
    width: var(--nav-width);
}

.navbar {
    padding: var(--nav-padding);
    background-color: rgb(19, 26, 24);
}

.nav-menu {
    display: var(--flex-display);
    flex-direction: var(--flex-wrap);
    justify-content: var(--justify-content);
    text-align: center;
    font-size: var(--font-size-medium);
}


.nav-item {
    list-style-type: none; 
    padding: var(--nav-padding); 
}

.nav-link {
    text-decoration: none;
    cursor: var(--cursor);
    color: var(--nav-link-color);
    transition: 0.3s ease-in-out;
    font-family: var(--font-family-body);
}


/*===== NAV LINK HOVER =====*/
.nav-link:hover {
  letter-spacing: 5px;
  display: inline-block;
  position: relative;
  color: var(--intro-color);
}


/*===== TOGGLE BUTTON =====*/
.toggle-btn {
    display: none;
    cursor: var(--cursor);
}

.bar {
    display: var(--toggle-btn-display);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out ;
    background-color: var(--nav-link-color);
}

/*===== ARTICLE =====*/
.container {
    width: 95%;
    /* border: 1px solid black; */
    margin: var(--content-margin);
    border-radius: var(--border-radius);
    max-width: 100%;
}   

.intro {
    max-width: 50%;
    line-height: var(--article-line-height); 
    font-size: var(--font-size);
    color: var(--intro-color);
    font-family: var(--font-family-intro);
    margin: var(--article-margin);

}

.img {
    max-width: 50%;
    float: right;
    margin: auto;
    border-radius: 10px;
    max-height: 700px;
    
}

.more-info {
    max-width: 50%;
    padding: var(--article-padding);
    line-height: var(--article-line-height);
}

h3 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size);
}

.hobbies, .priorities, .skills {
    font-family: var(--font-family-body);
    font-size: var(--font-size-medium);
    margin: var(--article-margin);
}

/*===== NAV MENU RESPONSIVENESS =====*/
@media all and (max-width: 768px) {
    .container {
        margin: var(--content-margin-mobile);
    }
    
    .toggle-btn {
        display: var(--toggle-btn-display);
    }

    /* Toggle btn degrees */
    .toggle-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: var(--nav-position);
        top: var(--nav-top);
        width: var(--nav-width);

    }

    .nav-menu {
        position: var(--nav-position);
        /* hiding the nav-links */
        left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: rgb(19, 26, 24, 0.7);
        width: var(--nav-width);
        transition: 0.3s;
        flex-wrap: var(--flex-wrap);
    }

    .nav-item {
        padding: 1rem;
    }
   
    /* displaying the nav-links */
    .nav-menu.active {
        left: 0;
    }

    .intro {
        max-width: 100%;
    }
    
    .img {
        max-width: 100%;
        margin: 1em auto;
       
    }

    .more-info {
        max-width: 100%;
    }
}


/*===== BUTTON =====*/
.btn-div {
    display: var(--flex-display);
    flex-direction: column;
}

.btn {
    margin: 20px auto;
    padding: 0.8rem 1.5rem;
    font-size: var(--font-size);
    cursor: var(--cursor);
    border-radius: 9999px;
    background-color: var(--intro-color); 
    border: var(--btn-border);
    color: #e8f0fe;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(235, 129, 30);
}


/*===== FORM ======*/
.form {
    width: 40%;
    max-width: 100%;
    margin: var(--form-margin);
    border: var(--btn-border);
    background-color: var(--form-background);
    border-radius: var(--border-radius);
    font-family: var(--font-family-body);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: var(--form-group-margin); 
}

.form-group-label {
    color: var(--form-text-color);
    font-size: var(--font-size-medium);
}

.form-title {
    display: var(--flex-display);
    justify-content: var(--justify-content);
    color: var(--form-text-color);
    font-size: var(--font-size);
    padding-bottom: 8px;
}

.form-input {
    color: var(--form-text-color);
    padding: var(--form-padding);
    border-radius: var(--border-radius);
    margin: 4px 0px 0px;
    border: var(--btn-border);
    background-color: #EBF0F4;
    outline-color: rgb(205, 154, 253, 0.6);  
}

.btn, button {
    font-size: var(--font-size-medium);
}


/*===== FORM RESPONSIVENESS =====*/
@media (max-width: 540px) {
    .form {
        width: 100%;
    }
}

.footer {
    padding: var(--nav-padding);
    font-family: var(--font-family-body);
}

.fa-brands {
    text-decoration: none;
}

#login-form {
    margin-bottom: 270px;
}