// ***** CSS RESET *****
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ***** IMPORT STYLES *****
// @import "./abstracts/bootstrap";
// @import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/buttons";
@import "./screens/_about";
@import "./screens/_header";
@import "./screens/_hero";
@import "./screens/_projects";



// @import "./components/_navbar";
// @import "./components/_footer";
